	<table>
		<tr>
			<td>First name: </td>
			<td><%= @user.first_name %></td>
		</tr>
		<tr>
			<td>Last name: </td>
			<td><%= @user.last_name %></td>
		</tr>
		<tr>
			<td>Email: </td>
			<td><%= @user.email_address %></td>
		</tr>
	</table>
	<a href="/users/<%= @user.id %>/edit">Edit</a> | 
	<a href="/">Back</a>